<app-header></app-header>
<app-menu></app-menu>

<div class="header-container">
  <div class="row w-100">
      <div class="col-xl-5">
        <div class="header-text">
          <p class="h-bold">Сучасна оновлена програма лекцій та практики</p>
          <p class="h-tiny">Вивчайте теорію зі свого комп’ютера чи смартфону, та обирайте найкращих інструкторів для практичного навчання.<br><br>
            Навчальна програма відповідає усім державним вимогам та завжди оновлюється синхронно зі змінами в законодавстві</p>
        </div>
    </div>
    <div class="col-xl-7 adapt-cont">
      <img class="w-100 img-adapt" alt="background-img" src="assets/imgs/education/bg.png">
    </div>
  </div>

  <div class="bg1">
    <div class="about-education">
      <p class="h-bold s-32">Як проходить навчання?</p>
      <p class="h-tiny">Крок за кроком, через лекції, тести та практичні заняття, Ви дійдете до мети.</p>
    </div>
    <div class="row flex-column-reverse flex-lg-row w-100">
      <div class="col-lg-6">
        <img class="w-100" alt="background1-img" src="assets/imgs/education/bg-1.png">
      </div>
      <div class="col-lg-4 text-col">
        <p class="h-bold s-24">Веб та мобільний додаток, де Ви зможете пройти усе навчання</p>
        <p class="h-tiny s-15">
          Для Вашої зручності та комфорту ми створили додаток, яким можна користуватись на будь-якому ґаджеті.<br><br>
          Вивчайте теорію, складайте тести та бронюйте інструктора для практичних занять у мобільному додатку або у веб-версії на комп’ютері.
        </p>
        <div class="rules">
          <div class="rule-list">
            <ul>
              <li>
                Правила дорожнього руху
              </li>
              <li>
                Дорожні знаки
              </li>
              <li>
                Дорожня розмітка
              </li>
              <li>
                Тести за темами

              </li>
              <li>
                Тести за білетами
              </li>
            </ul>
          </div>
          <span class="for-free">Безкоштовно</span>
        </div>
      </div>
    </div>
  </div>

  <div class="container offer-container">
    <app-offer-slider></app-offer-slider>
  </div>

  <div class="container blocks">
    <div class="row w-100">
      <div class="col-lg-5 text-col">
        <div class="text-cont">
          <p class="h-bold s-24">Підготуйте документи</p>
          <p class="h-tiny s-15" style="margin-top: 34px">
            Згідно державним вимогам реєстрація учня в сервісному центрі МВС для складання іспиту та отримання посвідчення водія відбувається в чіткому порядку та за наявності конкретних документів.<br><br>
            Щоб розпочати навчання в додатку з можливістю скласти державний іспит та отримати посвідчення водія, необхідно надати такі документи:
          </p>
          <ul class="list-slider-about">
            <li class="li-slider">
              <div class="row row-cols-2">
                <div class="col-1">
                  <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                </div>
                <div class="col-11">
                  <span class="li-text">Паспорт громадянина України або ID-карта</span>
                </div>
              </div>
            </li>
            <li class="li-slider">
              <div class="row row-cols-2">
                <div class="col-1">
                  <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                </div>
                <div class="col-11">
                  <span class="li-text">Ідентифікаційний номер</span>
                </div>
              </div>
            </li>
            <li class="li-slider">
              <div class="row row-cols-2">
                <div class="col-1">
                  <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                </div>
                <div class="col-11">
                  <span class="li-text">Медична довідка <a href="https://zakon.rada.gov.ua/laws/show/z0435-00#Text">(форма 083)</a></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-6">
        <img alt="background2-img" class="w-100" src="assets/imgs/education/bg-2.png">
      </div>
    </div>
  </div>
  <div class="container blocks">
    <div class="row flex-column-reverse flex-lg-row w-100">
      <div class="col-lg-6">
        <img alt="background3-img" class="w-100" src="assets/imgs/education/bg-3.png">
      </div>
      <div class="col-lg-5 text-col">
        <div class="text-cont tx-1">
          <p class="h-bold s-24">Теорія <br class="br-adapt">ПДР + тести</p>
          <p class="h-tiny s-15" style="margin-top: 34px">
            Згідно державним вимогам реєстрація учня в сервісному центрі МВС для складання іспиту та отримання посвідчення водія відбувається в чіткому порядку та за наявності конкретних документів.<br><br>
            Щоб розпочати навчання в додатку з можливістю скласти державний іспит та отримати посвідчення водія, необхідно надати такі документи:
          </p>
          <ul class="list-slider-about">
            <li class="li-slider">
              <div class="row row-cols-2">
                <div class="col-1">
                  <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                </div>
                <div class="col-11">
                  <span class="li-text">Відео (доступно, зрозуміло, сучасно)</span>
                </div>
              </div>
            </li>
            <li class="li-slider">
              <div class="row row-cols-2">
                <div class="col-1">
                  <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                </div>
                <div class="col-11">
                  <span class="li-text">Аудіо (можливість слухати лекцію у фоновому режимі)</span>
                </div>
              </div>
            </li>
            <li class="li-slider">
              <div class="row row-cols-2">
                <div class="col-1">
                  <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                </div>
                <div class="col-11">
                  <span class="li-text">Текст ПДР з ілюстраціями</span>
                </div>
              </div>
            </li>
            <li class="li-slider">
              <div class="row row-cols-2">
                <div class="col-1">
                  <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                </div>
                <div class="col-11">
                  <span class="li-text">Проміжний тест в кінці кожної лекції для ефективного закріплення матеріалу</span>
                </div>
              </div>
            </li>
            <li class="li-slider">
              <div class="row row-cols-2">
                <div class="col-1">
                  <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                </div>
                <div class="col-11">
                  <span class="li-text">Можливість навчатись офлайн (попередньо завантаживши відео лекцій)</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container blocks">
    <div class="row w-100">
      <div class="col-lg-5 text-col">
        <div class="text-cont">
          <p class="h-bold s-24">Практика</p>
          <p class="h-tiny s-15" style="margin-top: 34px">
            В розділі “Практика” Ви зможете обрати інструктора та автомобіль згідно Ваших вимог та уподобань
          </p>
          <ul class="list-slider-about">
            <li class="li-slider">
              <div class="row row-cols-2">
                <div class="col-1">
                  <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                </div>
                <div class="col-11">
                  <span class="li-text">Можливість планувати поїздки в додатку</span>
                </div>
              </div>
            </li>
            <li class="li-slider">
              <div class="row row-cols-2">
                <div class="col-1">
                  <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                </div>
                <div class="col-11">
                  <span class="li-text">Інструктор приїжджає в обране місце за конкретною адресою  </span>
                </div>
              </div>
            </li>
            <li class="li-slider">
              <div class="row row-cols-2">
                <div class="col-1">
                  <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                </div>
                <div class="col-11">
                  <span class="li-text">Можливість змінити інструктора</span>
                </div>
              </div>
            </li>
            <li class="li-slider">
              <div class="row row-cols-2">
                <div class="col-1">
                  <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                </div>
                <div class="col-11">
                  <span class="li-text">Безпека (всі поїздки під моніторингом диспетчера)</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-7">
        <img alt="background4-img" class="w-100" src="assets/imgs/education/bg-4.png">
      </div>
    </div>
  </div>

  <div class="exm">
    <div class="container cont-adapt">
      <div class="exam">
        <div class="row" style="min-height: 255px">
          <div class="col-lg-4 lg-first">
            <p class="h-bold s-24">Підсумковий іспит</p>
            <a href="https://romdomdom.in.ua/authorization/registration" class="btn btn-ch">Записатися на курс</a>
          </div>
          <div class="col-lg-1 ln-cont"><div class="line"></div></div>
          <div class="col-lg-7 lg-second">
            <p class="h-tiny">
              Перевага нашої системи навчання в максимальній свободі для учня. Процес навчання проходить в зручному для Вас темпі. Додаток Вас нічим не обмежує. Вчіться стільки, скільки Вам потрібно, щоб впевнено скласти державний іспит, але не швидше ніж 2 місяці від початку реєстрації.
            </p>
            <ul class="list-slider-about">
              <li class="li-slider">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text">Підсумкови іспит в додатку - це прототип державного іспиту</span>
                  </div>
                </div>
              </li>
              <li class="li-slider">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text">20 хвилин та не більше двох помилок!</span>
                  </div>
                </div>
              </li>
              <li class="li-slider">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text">Можливість повторно пройти тестування</span>
                  </div>
                </div>
              </li>
            </ul>
            <a href="https://romdomdom.in.ua/authorization/registration" class="btn btn-ch btn-adapt">Записатися на курс</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<app-footer></app-footer>
