<div class="drivers-container">
  <div class="row text-center">
    <p class="doc-bold i-header">Наші інструктори</p>
  </div>
  <div class="driver-slider slider-show">
    <div class="row driver-row">
      <div class="col-xl-4">

      </div>
      <div class="col-xl-8 text-center">
        <img alt="person-img" class="person-img" src="assets/imgs/slider/instructor/person-1.png">
      </div>
      <div class="driver-about fade_">
        <div class="row">
          <div class="col-xl-12 bg-w">
            <div class="driver-about-text">
              <p class="doc-bold driver-name">Любомир Царик</p>
              <div class="line">
                <div class="text-start">
                  <span class="value-tiny">Вік:</span>
                </div>
                <div class="text-end">
                  <span class="value-tiny v-end"> 26 років</span>
                </div>
              </div>
              <div class="line">
                <div class="text-start">
                  <span class="value-tiny">Освіта:</span>
                </div>
                <div class="text-end">
                  <span class="value-tiny v-end"> Вища</span>
                </div>
              </div>
              <div class="line">
                <div class="text-start">
                  <span class="value-tiny">Категорії:</span>
                </div>
                <div class="text-end">
                  <span class="value-tiny v-end">B, C, D</span>
                </div>
              </div>
              <div class="line">
                <div class="text-start">
                  <span class="value-tiny">Досвід роботи:</span>
                </div>
                <div class="text-end">
                  <span class="value-tiny v-end">5 років</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 bg-blue">
            <div class="driver-about-text">
              <p class="doc-bold driver-name">Автомобіль</p>
              <div class="line">
                <div class="text-start">
                  <span class="value-tiny">Марка:</span>
                </div>
                <div class="text-end">
                  <span class="value-tiny v-end">Peugeot</span>
                </div>
              </div>
              <div class="line">
                <div class="text-start">
                  <span class="value-tiny">Рік випуску:</span>
                </div>
                <div class="text-end">
                  <span class="value-tiny v-end">2019</span>
                </div>
              </div>
              <div class="line">
                <div class="text-start">
                  <span class="value-tiny">Коробка:</span>
                </div>
                <div class="text-end">
                  <span class="value-tiny v-end">Механіка</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="driver-slider fade_">
    <div class="row driver-row">
      <div class="col-xl-4">

      </div>
      <div class="col-xl-8 text-center">
        <img alt="person1-img" class="person-img" src="assets/imgs/slider/instructor/person-2.png">
      </div>
      <div class="driver-about">
        <div class="row">
          <div class="col-xl-12 bg-w">
            <div class="driver-about-text">
              <p class="doc-bold driver-name">Віталій Біляк</p>
              <div class="line">
                <div class="text-start">
                  <span class="value-tiny">Вік:</span>
                </div>
                <div class="text-end">
                  <span class="value-tiny v-end"> 47 років</span>
                </div>
              </div>
              <div class="line">
                <div class="text-start">
                  <span class="value-tiny">Освіта:</span>
                </div>
                <div class="text-end">
                  <span class="value-tiny v-end"> Вища</span>
                </div>
              </div>
              <div class="line">
                <div class="text-start">
                  <span class="value-tiny">Категорії:</span>
                </div>
                <div class="text-end">
                  <span class="value-tiny v-end">B, C, D</span>
                </div>
              </div>
              <div class="line">
                <div class="text-start">
                  <span class="value-tiny">Досвід роботи:</span>
                </div>
                <div class="text-end">
                  <span class="value-tiny v-end">8 років</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 bg-blue">
            <div class="driver-about-text">
              <p class="doc-bold driver-name">Автомобіль</p>
              <div class="line">
                <div class="text-start">
                  <span class="value-tiny">Марка:</span>
                </div>
                <div class="text-end">
                  <span class="value-tiny v-end">Skoda Fabia</span>
                </div>
              </div>
              <div class="line">
                <div class="text-start">
                  <span class="value-tiny">Рік випуску:</span>
                </div>
                <div class="text-end">
                  <span class="value-tiny v-end">2009</span>
                </div>
              </div>
              <div class="line">
                <div class="text-start">
                  <span class="value-tiny">Коробка:</span>
                </div>
                <div class="text-end">
                  <span class="value-tiny v-end">Механіка</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="driver-slider fade_">
    <div class="row driver-row">
      <div class="col-xl-4">
      </div>
      <div class="col-xl-8 text-center">
        <img alt="person2-img" class="person-img" src="assets/imgs/slider/instructor/person-3.png">
      </div>
      <div class="driver-about">
        <div class="row">
          <div class="col-xl-12 bg-w">
            <div class="driver-about-text">
              <p class="doc-bold driver-name">Корнєєв Олександр</p>
              <div class="line">
                <div class="text-start">
                  <span class="value-tiny">Вік:</span>
                </div>
                <div class="text-end">
                  <span class="value-tiny v-end"> 38 років</span>
                </div>
              </div>
              <div class="line">
                <div class="text-start">
                  <span class="value-tiny">Освіта:</span>
                </div>
                <div class="text-end">
                  <span class="value-tiny v-end"> Вища</span>
                </div>
              </div>
              <div class="line">
                <div class="text-start">
                  <span class="value-tiny">Категорії:</span>
                </div>
                <div class="text-end">
                  <span class="value-tiny v-end">B, C, D</span>
                </div>
              </div>
              <div class="line">
                <div class="text-start">
                  <span class="value-tiny">Досвід роботи:</span>
                </div>
                <div class="text-end">
                  <span class="value-tiny v-end">7 років</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 bg-blue">
            <div class="driver-about-text">
              <p class="doc-bold driver-name">Автомобіль</p>
              <div class="line">
                <div class="text-start">
                  <span class="value-tiny">Марка:</span>
                </div>
                <div class="text-end">
                  <span class="value-tiny v-end">Citroen</span>
                </div>
              </div>
              <div class="line">
                <div class="text-start">
                  <span class="value-tiny">Рік випуску:</span>
                </div>
                <div class="text-end">
                  <span class="value-tiny v-end">2018</span>
                </div>
              </div>
              <div class="line">
                <div class="text-start">
                  <span class="value-tiny">Коробка:</span>
                </div>
                <div class="text-end">
                  <span class="value-tiny v-end">Автомат</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>

  <!-- The dots/circles -->
  <div class="dots">
    <span class="d-dot active" onclick="currentSlide(1, 'driver-slider', 'd-dot', ' active')"></span>
    <span class="d-dot" onclick="currentSlide(2, 'driver-slider', 'd-dot', ' active')"></span>
    <span class="d-dot" onclick="currentSlide(3, 'driver-slider', 'd-dot', ' active')"></span>
  </div>
</div>
