<app-header></app-header>
<app-menu></app-menu>

<div class="container">
  <div class="contacts-menu row">
    <div class="col-lg-6 contacts-text">
      <div class="text-container">
        <p class="header">Контакти</p>
        <ul class="contact-list">
          <li class="contact-container">
            <img alt="phone-icon" class="icon" src="assets/imgs/others/phone.svg">
            <a href="tel:+380676788000" class="contact-text" style="margin-left: 10px; color: black">+38(067) 67-88-000</a>
          </li>
          <li class="contact-container">
            <img alt="phone-icon" class="icon" src="assets/imgs/contacts/mail.png">
            <span class="contact-text" style="margin-left: 10px"><a style="color: black" href="mailto:romdomdomofficial@gmail.com">romdomdomofficial@gmail.com</a></span>
          </li>
          <li>
            <img alt="location-icon" class="icon-location" src="assets/imgs/contacts/location.svg">
            <span class="contact-text">Україна, 79066 м.Львів, вул.Сихівська, 20</span>
          </li>
        </ul>
        <div class="social-blocks">
          <div class="social-block row">
            <div class="col-lg-6"><span>Служба підтримки:</span></div>
            <div class="col-lg-6 social-imgs">
              <a href="https://www.facebook.com/messages/t/112310597191145"><img src="assets/imgs/contacts/fb.png" alt="facebook-icon"></a>
              <a href="https://t.me/romdomdomua"><img src="assets/imgs/contacts/tel.png" alt="telegram-icon"></a>
              <a href="viber://chat?number=%2B380676788000"><img src="assets/imgs/contacts/viber.png" alt="viber-icon"></a>
              <a href="viber://chat?number=%2B380676788000"><img src="assets/imgs/contacts/wapp.png" alt="whatsapp-icon"></a>
            </div>
          </div>
          <div class="social-block row" style="margin-top: 10px">
            <div class="col-lg-6"><span>Ми в соціальних мережах:</span></div>
            <div class="col-lg-6 social-imgs">
              <a href="https://www.facebook.com/messages/t/112310597191145"><img src="assets/imgs/contacts/fb-soc.png" alt="facebook-icon"></a>
              <a href="https://www.instagram.com/romdomdom.school/"><img src="assets/imgs/contacts/inst.png" alt="instagram-icon"></a>
              <a href="https://www.youtube.com/channel/UCYkXECPSv2rkrgixCLFPA3g"><img src="assets/imgs/contacts/yt.png" alt="youtube-icon"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <img alt="contact-img" class="contacts-img" src="assets/imgs/contacts/contacts.png">
    </div>
  </div>
</div>
<app-footer></app-footer>
