<footer class="footer">
  <span class="img-center">
    <a href="https://www.facebook.com/RomDomDom.school" class="img-social">
      <img src="assets/imgs/others/menu-fb.svg" alt="fb-icon">
    </a>
    <a href="https://www.instagram.com/romdomdom.school/" class="img-social">
      <img src="assets/imgs/others/menu-inst.svg" alt="inst-icon">
    </a>
    <a href="https://www.youtube.com/channel/UCYkXECPSv2rkrgixCLFPA3g">
      <img src="assets/imgs/others/menu-yt.svg" alt="yt-icon">
    </a>
  </span>
</footer>
