<div class="row">
  <div class="col-lg-6">
    <div class="text-about container">
    <p class="h-about-educ">Як відбувається навчання</p>
    <p class="about-educ">30 лекцій теорії з тестами у трьох форматах: відео, аудіо та текст. Окремий розділ для практичних занять, де можна обирати інструктора та бронювати потрібний час і місце заняття.</p>
    <button (click)="redirect('/education')" class="btn btn-outline-primary about-more">Дізнатися більше</button>
    </div>
  </div>
  <div class="col-lg-6 col-after">
    <div class="slideshow-container">
      <div class="mySlides slide-show fade_">
        <div class="slide">
          <div class="container">
            <div class="row row-cols-2 slide-header">
              <div class="col-7 header-text">
                <span class="free-access">Безкоштовний доступ</span>
              </div>
              <div class="col-5">
                <img alt="gift-icon" src="assets/imgs/slider/gift.svg">
              </div>
            </div>
            <div class="main-text">
              <span class="slider-text">Зареєструйтесь у додатку та отримайте безкоштовний доступ назавжди</span>
            </div>
            <ul class="list-slider-about">
              <li class="li-slider">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text">ПДР</span>
                  </div>
                </div>
              </li>
              <li class="li-slider">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text">Дорожні знаки</span>
                  </div>
                </div>
              </li>
              <li class="li-slider">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text">Дорожня розмітка</span>
                  </div>
                </div>
              </li>
              <li class="li-slider">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text">Таблиця штрафів</span>
                  </div>
                </div>
              </li>
              <li class="li-slider">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text">Тести за темами та категоріями</span>
                  </div>
                </div>
              </li>
            </ul>
            <div class="slider-text-bottom">
              <span class="slider-text-bold">Також у вас є унікальна можливість пройти першу лекцію БЕЗКОШТОВНО!!!</span>
            </div>
          </div>
        </div>
      </div>
      <div class="mySlides fade_">
        <div class="slide">
          <div class="container">
            <div class="row row-cols-2 slide-header">
              <div class="col-7 header-text">
                <span class="free-access">Перелік документів для реєстрації</span>
              </div>
              <div class="col-5 img-end">
                <img src="assets/imgs/slider/list.svg" alt="ok-icon">
              </div>
            </div>
            <div class="main-text">
              <span class="slider-text">Щоб розпочати навчання в додатку потрібно надати такі документи</span>
            </div>
            <ul class="list-slider-about">
              <li class="li-slider li-2">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text-bold">Посвідчення особи</span>
                  </div>
                </div>
                <p class="li-text-small">Паспорт громадянина України</p>
                <p class="li-text-small">/ Пластикова ID-карта та додаток</p>
              </li>
              <li class="li-slider li-2">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text-bold">Ідентифікаційний номер</span>
                  </div>
                </div>
              </li>
              <li class="li-slider li-2">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text-bold">Медична довідка (форма 083)</span>
                  </div>
                </div>
              </li>
              <li class="li-slider li-2">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text-bold">Посвідчення водія</span>
                  </div>
                </div>
                <p class="li-text-small">(Тільки у випадку перепідготовки або повтерення курсу з водіння)</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mySlides fade_">
        <div class="slide">
          <div class="container">
            <div class="row row-cols-2 slide-header">
              <div class="col-7 header-text">
                <span class="free-access">Теорія ПДР + тести</span>
              </div>
              <div class="col-5 img-end">
                <img alt="site-icon" src="assets/imgs/slider/site.svg">
              </div>
            </div>
            <div class="main-text">
              <span class="slider-text">В розділі “Лекції” ми підготували для Вас 30 уроків тривалістю близько 20 хв., кожен з яких закінчується проміжним тестом</span>
            </div>
            <ul class="list-slider-about">
              <li class="li-slider">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text">Відео (доступно, зрозуміло, сучасно)</span>
                  </div>
                </div>
              </li>
              <li class="li-slider">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text">Аудіо (можливість слухати лекцію у фоновому режимі)</span>
                  </div>
                </div>
              </li>
              <li class="li-slider">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text">Текст ПДР з ілюстраціями</span>
                  </div>
                </div>
              </li>
              <li class="li-slider">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text">Проміжний тест в кінці кожної лекції</span>
                  </div>
                </div>
              </li>
              <li class="li-slider">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text">Можливість навчатись офлайн (попередньо завантаживши відео лекцій)</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mySlides fade_">
        <div class="slide">
          <div class="container">
            <div class="row row-cols-2 slide-header">
              <div class="col-7 header-text">
                <span class="free-access">Практика</span>
              </div>
              <div class="col-5 img-end">
                <img alt="wheel-icon" src="assets/imgs/slider/wheel.png">
              </div>
            </div>
            <div class="main-text">
              <span class="slider-text">В розділі “Практика” Ви зможете обрати інструктора та автомобіль згідно Ваших вимог та уподобань</span>
            </div>
            <ul class="list-slider-about">
              <li class="li-slider">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text">Можливість планувати поїздки в додатку</span>
                  </div>
                </div>
              </li>
              <li class="li-slider">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text">Інструктор приїжджає в обране місце</span>
                  </div>
                </div>
              </li>
              <li class="li-slider">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text">Можливість змінити інструктора</span>
                  </div>
                </div>
              </li>
              <li class="li-slider">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text">Безпека (всі поїздки під моніторингом диспетчера)</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mySlides fade_">
        <div class="slide">
          <div class="container">
            <div class="row row-cols-3 slide-header">
              <div class="col-4 header-text">
                <span class="free-access">Підсумковий іспит</span>
              </div>
              <div class="col-3"></div>
              <div class="col-5 img-end">
                <img alt="tests-icon" src="assets/imgs/slider/tests.svg">
              </div>
            </div>
            <div class="main-text">
              <span class="slider-text">Після завершення теоритичної та практичної частини необхідно скласти підсумковий іспит в додатку, за результатами якого учень допускається до складання державного іспиту в сервісному центрі МВС.</span>
            </div>
            <ul class="list-slider-about" style="margin-top: 20px">
              <li class="li-slider">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text">Підсумкови іспит в додатку - це прототип державного іспиту</span>
                  </div>
                </div>
              </li>
              <li class="li-slider">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text">20 хвилин та не більше двох помилок!</span>
                  </div>
                </div>
              </li>
              <li class="li-slider">
                <div class="row row-cols-2">
                  <div class="col-1">
                    <img alt="ok-icon" src="assets/imgs/slider/ok.png">
                  </div>
                  <div class="col-11">
                    <span class="li-text">Можливість повторно пройти тестування</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
      <span class="dot active" onclick="currentSlide(1, 'mySlides', 'dot', ' active')"></span>
      <span class="dot" onclick="currentSlide(2, 'mySlides', 'dot', ' active')"></span>
      <span class="dot" onclick="currentSlide(3, 'mySlides', 'dot', ' active')"></span>
      <span class="dot" onclick="currentSlide(4, 'mySlides', 'dot', ' active')"></span>
      <span class="dot" onclick="currentSlide(5, 'mySlides', 'dot', ' active')"></span>
    </div>
  </div>
</div>

