<app-header></app-header>
<app-menu></app-menu>
<div class="row partners">
  <div class="col-xl-6 txt-pad">
    <p class="header">
      Ми відкриті<br>до співпраці
    </p>
    <p class="header-tiny">
      Для усіх компаній та проектів, які поділяють наші базові цінності, ми готові запропонувати вигідне партнерство.<br><br>
      Переконані, що в об'єднанні ідей та ресурсів є великий потенціал до більш динамічного розвитку та масштабування.
    </p>
  </div>
  <div class="col-xl-6">
    <img alt="background-icon" class="w-100" src="assets/imgs/partners/bg.png">
  </div>
</div>
<div class="row flex-column-reverse flex-xl-row partners">
  <div class="col-xl-6 bg-1">
    <img alt="background1-icon"  class="w-100" src="assets/imgs/partners/bg-1.png">
  </div>
  <div class="col-xl-5 txt-pad-2">
    <p class="header">
      Інтеграція
    </p>
    <p class="header-tiny">
      Цифрові сервіси та інноваційні продукти, можуть більш динамічно розвиватись, якщо між ними буде можливість ефективної інтеграції.<br><br>Ми за те, щоб клієнт завжди отримував найвищу якість послуги чи продукту за чесну оплату. Наша компанія має цікаві напрямки партнерства, що в підсумку буде вигідно усім, а що найголовніше, кінцевому споживачеві.
    </p>
  </div>
</div>

<div class="softserve-row">
    <div class="w-25 s-1 block-inline text-center ">
      <a href="https://www.softserveinc.com/uk-ua">
        <img alt="softserve" style="width: 50%" src="assets/imgs/partners/softserver.png">
      </a>
    </div>
  <div class="w-25 s-2 block-inline text-center ">
    <a href="https://www.softserveinc.com/uk-ua">
      <img alt="softserve" style="width: 50%" src="assets/imgs/partners/softserver.png">
    </a>
  </div>
  <div class="w-25 s-3 block-inline text-center ">
    <a href="https://www.softserveinc.com/uk-ua">
      <img alt="softserve" style="width: 50%" src="assets/imgs/partners/softserver.png">
    </a>
  </div>
  <div class="w-25 s-4 block-inline text-center ">
    <a href="https://www.softserveinc.com/uk-ua">
      <img alt="softserve" style="width: 50%" src="assets/imgs/partners/softserver.png">
    </a>
  </div>
</div>

<app-footer></app-footer>
