<div class="main-slides slides-show fade_ c-1">
  <div class="row w-100">
    <div class="col-xl-6">
      <div class="carousel-text-block">
        <h1 class="carousel-main-text">Автошкола в</h1>
        <br>
        <h1 class="carousel-main-text-smartphone">смартфоні</h1>
        <p class="carousel-description-text">Вивчати теорію та бронювати кращих інструкторів для практичних навчань
      тепер можна в мобільному додатку на смартфоні або у веб-версії на комп’ютері</p>
      </div>
    </div>
    <div class="col-xl-6 slider-adapt">
      <div class="blue-circle-img">
        <img src="assets/imgs/slider/circle.svg" alt="road">
        <div class="phone-popup" style="transition: all 2s ease 0s; opacity: 1;">
          <img src="assets/imgs/home/bg-33.png" alt="phone">
        </div>
        <div class="full-popup" style="transition: all 2s ease 0s; opacity: 1;">
          <img src="assets/imgs/slider/full.svg" alt="phone">
        </div>
        <div class="quality-popup" style="transition: all 2s ease 0s; opacity: 1;">
          <img src="assets/imgs/slider/quality.svg" alt="phone">
        </div>
      </div>
    </div>
    <div class="col-xl-6 slider-adapt-1">
      <img alt="main-img" class="w-100 main-img" src="assets/imgs/slider/main.png">
    </div>
  </div>
  <div class="road-line">
    <div class="car-movement orange-car">
      <div class="car1">
        <img class="car-movement" src="assets/imgs/slider/car1.svg" alt="car2">
      </div>
    </div>
    <div class="car-movement white-car">
      <div class="car">
        <img class="car-movement" src="assets/imgs/slider/car.svg" alt="car1">
      </div>
    </div>
  </div>
  <img alt="slider-next" class="sign slider-adapt" src="assets/imgs/slider/next.svg">
</div>
<div class="main-slides fade_ c-2">
  <div class="row w-100">
    <div class="col-xl-6">
      <div class="carousel-text-block">
        <span class="main-text lectures-main-text">
          30 20
        </span>
        <span class="main-text lectures-about">
          лекцій по хвилин
        </span>
        <p class="carousel-description-text">Сучасна форма відеолекцій тривалістю близько 20 хвилин.
          Нічого зайвого, лише необхідна інформація для успішного складання іспиту
        </p>
      </div>
    </div>
    <div class="col-xl-6 slider-adapt">
      <div class="blue-circle-img">
        <img src="assets/imgs/slider/circles1.png" alt="road">
        <div class="phone-popup" style="transition: all 2s ease 0s; opacity: 1;">
          <img src="assets/imgs/slider/phone1.png" alt="phone">
        </div>
        <div class="test-popup" style="transition: all 2s ease 0s; opacity: 1;">
          <img src="assets/imgs/slider/test.png" alt="phone">
        </div>
        <div class="quality-popup-1" style="transition: all 2s ease 0s; opacity: 1;">
          <img src="assets/imgs/slider/full1.png" alt="phone">
        </div>
      </div>
    </div>
    <div class="col-xl-6 slider-adapt-1">
      <img alt="main-img" class="w-100 main-img" src="assets/imgs/slider/main.png">
    </div>
  </div>
  <div class="road-line">
    <div class="car-movement orange-car">
      <div class="car1">
        <img class="car-movement" src="assets/imgs/slider/car2.svg" alt="car2">
      </div>
    </div>
    <div class="car-movement white-car">
      <div class="car">
        <img class="car-movement" src="assets/imgs/slider/car.svg" alt="car1">
      </div>
    </div>
  </div>
  <img class="sign slider-adapt" src="assets/imgs/slider/next.svg">
</div>
<div class="main-slides fade_ c-3">
  <div class="row w-100">
    <div class="col-xl-6">
      <div class="carousel-text-block">
        <h1 class="carousel-main-text">Тепер<br>обираєте Ви</h1>
        <p class="carousel-description-text">Обирати кращого інструктора та учбовий автомобіль тепер
          можна в мобільному додатку з можливістю бронювати зручні для Вас час та локацію практичного заняття</p>
      </div>
    </div>
    <div class="col-xl-6 slider-adapt">
      <div class="blue-circle-img">
        <img src="assets/imgs/slider/circle.svg" alt="road">
        <div class="phone-popup" style="transition: all 2s ease 0s; opacity: 1;">
          <img src="assets/imgs/slider/phone4.png" alt="phone">
        </div>
        <div class="person-popup" style="transition: all 2s ease 0s; opacity: 1;">
          <img src="assets/imgs/slider/elem1.png" alt="phone">
        </div>
        <div class="cart-popup" style="transition: all 2s ease 0s; opacity: 1;">
          <img src="assets/imgs/slider/elem2.png" alt="phone">
        </div>
        <div class="about-popup" style="transition: all 2s ease 0s; opacity: 1;">
          <img src="assets/imgs/slider/elem3.png" alt="phone">
        </div>
      </div>
    </div>
    <div class="col-xl-6 slider-adapt-1">
      <img class="w-100 main-img" src="assets/imgs/slider/main.png">
    </div>
  </div>
  <div class="road-line">
    <div class="car-movement orange-car">
      <div class="car1">
        <img class="car-movement" src="assets/imgs/slider/car3.svg" alt="car2">
      </div>
    </div>
    <div class="car-movement white-car">
      <div class="car">
        <img class="car-movement" src="assets/imgs/slider/car.svg" alt="car1">
      </div>
    </div>
  </div>
  <img class="sign slider-adapt" src="assets/imgs/slider/next.svg">
</div>
<div class="main-slides fade_ c-4">
  <div class="row w-100">
    <div class="col-xl-6">
      <div class="carousel-text-block">
        <h1 class="carousel-main-text">Одна лекція -<br>БЕЗКОШТОВНО!</h1>
        <p class="carousel-description-text">Реєструйтесь в додатку та отримуйте унікальну можливість пройти першу
          відеолекцію з тестами <a href="/">БЕЗКОШТОВНО</a>!
        </p>
      </div>
    </div>
    <div class="col-xl-6 slider-adapt">
      <div class="blue-circle-img">
        <img style="margin-left: 50px; margin-top: 40px" src="assets/imgs/slider/circle2.png" alt="road">
        <div class="phone-popup" style="transition: all 2s ease 0s; opacity: 1;">
          <img src="assets/imgs/slider/phone2.png" alt="phone">
        </div>
        <div class="lectures-popup" style="transition: all 2s ease 0s; opacity: 1;">
          <img src="assets/imgs/slider/lectures.png" alt="phone">
        </div>
      </div>
    </div>
    <div class="col-xl-6 slider-adapt-1">
      <img class="w-100 main-img" src="assets/imgs/slider/main.png">
    </div>
  </div>
  <div class="road-line">
    <div class="car-movement orange-car">
      <div class="car1">
        <img class="car-movement" src="assets/imgs/slider/car2.svg" alt="car2">
      </div>
    </div>
    <div class="car-movement white-car">
      <div class="car">
        <img class="car-movement" src="assets/imgs/slider/car.svg" alt="car1">
      </div>
    </div>
  </div>
  <img class="sign slider-adapt" src="assets/imgs/slider/next.svg">
</div>

<div class="dots">
  <span class="m-dot active" onclick="currentSlide(1, 'main-slides', 'm-dot', ' active')"></span>
  <span class="m-dot" onclick="currentSlide(2, 'main-slides', 'm-dot', ' active')"></span>
  <span class="m-dot" onclick="currentSlide(3, 'main-slides', 'm-dot', ' active')"></span>
  <span class="m-dot" onclick="currentSlide(4, 'main-slides', 'm-dot', ' active')"></span>
</div>
