<div id="sale" class="sale-fixed">
  <div class="red-col">

  </div>
  <div class="price-block">
    <div class="full-price-fixed">
      <div id="price-text">
      <p class="full-price" style="color: #fe5858; font-size: 20px">Акція!</p>
      </div>
      <a (click)="Hide()" class="sale-button">
        <img src="assets/imgs/others/arrowRight.svg" alt="logo">
      </a>
    </div>
    <p class="full-price">Вартість повного курсу:</p>
    <div id="price">
      <p class="sale-price">8999 <span>грн. </span></p>
    </div>
  </div>
</div>

<div class="social-fixed">
  <a href="https://www.instagram.com/romdomdom.school/">
    <img src="assets/imgs/others/inst.svg" alt="IG">
  </a>
  <a href="https://www.facebook.com/RomDomDom.school">
    <img src="assets/imgs/others/fb.svg" alt="FB">
  </a>
  <a href="https://www.youtube.com/channel/UCYkXECPSv2rkrgixCLFPA3g">
    <img src="assets/imgs/others/yt.svg" alt="YT">
  </a>
</div>
