<div class="doc_header">
  <a href="/" class="logo_doc">
    <div class="flex-row">
      <img alt="pin-icon" src="assets/imgs/use/pin.svg" style="margin-right:7px">
      <div class="flex-column logo-bottom"> <img alt="romdomdom-logo" src="assets/imgs/use/RomDomDom.png"></div>
    </div>
  </a>
  <h2 class="page_title"> Політика конфіденційності</h2>
</div>
<div class="doc_container">
  <p>Ця Політика конфіденційності персональних даних (далі — Політика конфіденційності) діє щодо всієї інформації, розміщеної на сайті в мережі Інтернет за адресою: <a href="http://www.romdomdom.in.ua">www.romdomdom.in.ua</a>, а також в мобільному застосунку RomDomDom (далі — Сайт), яку користувачі та відвідувачі Сайту (далі — «Ви») можуть отримати про Вас під час використання Сайту, його сервісів, програм та матеріалів та мобільного застосунку RomDomDom (далі — «Послуга»).</p>
  <p>www.romdomdom.in.ua – це сайт, адміністратором (оператором) якого є фізична особа – підприємець Барановська Наталія Ярославівна. (далі — «Ми»). Ми зареєстровані за законодавством України (дата та номер запису про проведення державної реєстрації: 25 серпня 2021 року, 2004150010001118418), місцезнаходження офісу: Україна, 79066 м. Львів, вул. Сихівська, 20.</p>
  <p>Використання Сайту означає Вашу письмову згоду на обробку Ваших персональних даних відповідно до Політики конфіденційності, а також Вашу беззастережну згоду з умовами Політики конфіденційності. У разі незгоди з цими умовами Ви маєте утриматися від використання Сайту. Використовуючи Сайт, Ви гарантуєте, що всі надані Вами дані є точними, достовірними та актуальними.</p>
  <p><strong>1. Загальні положення</strong></p>
  <p>1.1. У межах цієї Політики конфіденційності персональною інформацією є:</p>
  <ul>
    <li><strong>ідентифікаційні та контактні дані</strong>, як-от: ім’я, прізвище, по батькові; ідентифікаційного номера облікової картки платника податків; адреса електронної пошти та номери телефонів; серії та номери документів, що засвідчують особу або їх замінюють;&nbsp;</li>
    <li><strong>технічні дані</strong>, які автоматично передаються Сайту у процесі їх використання Послуг за допомогою встановленого на Вашому пристрої програмного забезпечення, зокрема, адреса інтернет-протоколу (IP-адреса), дані файлів cookie, інформація про тип та версію браузера, який Ви використовуєте (або інші програми, за допомогою яких здійснюється доступ до Послуги), дата та година доступу до Послуги, технічні характеристики обладнання та програмного забезпечення, які Ви використовуєте для доступу до Сайту;</li>
    <li><strong>дані профілю</strong>, як-от ім’я користувача та пароль;</li>
    <li><strong>маркетингові та комунікаційні дані</strong>, які включають переваги в отриманні від нас маркетингових матеріалів та Ваші уподобання щодо комунікації;</li>
    <li><strong>дані з медичної довідки</strong> (форма 083/о) щодо Вашої придатності керування транспортним засобом;</li>
    <li><strong>інша інформація</strong> про Вас, обробка якої передбачена <a routerLink="/ugoda">Правилами користування</a>.</li>
  </ul>
  <p>1.2. Політика конфіденційності застосовується лише до Сайту <a href="http://www.romdomdom.in.ua">www.romdomdom.in.ua</a> та мобільного застосунку RomDomDom.</p>
  <p>1.3. Ми є володільцем та розпорядником Ваших персональних даних. Одержувачем Ваших персональних даних є організації та фізичні особи, з якими ми взаємодіємо для виконання умов ліцензійного договору (публічної оферти).</p>
  <p>1.4. Місцезнаходження персональних даних: Україна, 79066 м. Львів, вул. Сихівська, 20.</p>
  <p>1.5. Цей Сайт може містити посилання на сторонні вебсайти, як-от наші сторінки в соціальних мережах Twitter, Facebook і LinkedIn. Натискання на ці посилання може дозволити третім особам збирати або передавати дані про Вас. Сайт не контролює та не несе відповідальності за сайти третіх осіб, на які Ви можете перейти за посиланням, доступним на Сайті.</p>
  <p><strong>2. Мета обробки персональних даних</strong></p>
  <p>2.1. Сайт збирає та зберігає тільки ту персональну інформацію, яка необхідна для надання Послуг або виконання договору із Вами, за винятком випадків, коли законодавством передбачено обов’язкове зберігання персональної інформації впродовж визначеного законом строку.</p>
  <p>2.2. Сайт як оператор Ваших персональних даних обробляє такі дані для (мета):</p>
  <ul>
    <li>Вашої ідентифікації для надання Послуг;</li>
    <li>формування даних Вашого електронного кабінету (створення облікового запису);</li>
    <li>надання Вам, зокрема, з використанням мобільного застосунку Сайту, доступу до персоналізованих ресурсів Сайту;</li>
    <li>забезпечення Вам доступу до даних про себе через Ваш електронний кабінет, зокрема, у мобільному застосунку;</li>
    <li>встановлення з Вами зворотного зв’язку, включно з надсиланням повідомлень, запитів щодо використання Сайту, надання послуг, оброблення запитів та Ваших заявок;</li>
    <li>підтвердження достовірності та повноти наданих Вами персональних даних;</li>
    <li>створення облікового запису для функціонування Вашого електронного кабінету на Сайті, якщо Ви дали згоду на створення облікового запису;</li>
    <li>адміністрування вашої передплати (якщо Ви приєднуєтеся до договору про надання послуг), коли Ви розміщуєте замовлення через реєстрацію на Сайті, щоби ми могли надати послуги (для виконання ліцензійного договору-оферти);</li>
    <li>укладення та виконання нами договорів у межах трудових, цивільно-правових та інших відносин із третіми особами, щоби вони могли виконувати свої зобов’язання перед нами;</li>
    <li>передання нами Ваших персональних даних або доручення їх обробки третім особам відповідно до чинного законодавства;</li>
    <li>адміністрування Сайту, включно з наданням Вам ефективної клієнтської та технічної підтримки в разі виникнення проблем, пов’язаних із використанням Сайту;</li>
    <li>здійснення рекламної (маркетингової) діяльності за Вашою згодою;</li>
    <li>збору Ваших відгуків про Послуги;</li>
    <li>повідомлення Вас про порушення <a routerLink="/ugoda">Правил користування</a> чи інших положень (політики);</li>
    <li>забезпечення дотримання актів законодавства та інших нормативно-правових актів.</li>
  </ul>
  <p>2.3. Сайт не здійснює обробку персональних даних щодо расової, національної приналежності, політичних поглядів, релігійних або філософських переконань, інтимного життя.</p>
  <p><strong>3. Умови обробки персональної інформації та її передання третім особам</strong></p>
  <p>3.1. Обробка Ваших персональних даних здійснюється відповідно до <a href="https://zakon.rada.gov.ua/laws/show/2297-17#Text">Закону</a> України від 01.06.2010 №&thinsp;2297–VI «Про захист персональних даних».</p>
  <p>3.2. Сайт зберігає Вашу персональну інформацію згідно з внутрішніми регламентами Сайту.</p>
  <p>3.3. Зберігання отриманих нами Ваших персональних даних здійснюється на матеріальних (паперових та електронних) носіях, зокрема, в інформаційній системі персональних даних. Право доступу до Ваших персональних даних на матеріальних носіях мають (дістануть) тільки ті працівники Адміністрації Сайту, яким це необхідно для виконання їх посадових обов’язків та які в законному порядку наділені відповідними повноваженнями та правами доступу до Ваших персональних даних та засобів їх обробки.</p>
  <p>3.4. Щодо Вашої персональної інформації зберігається її конфіденційність, крім випадків добровільного надання Вами інформації про себе для загального доступу необмеженому колу осіб. Під час використання Послуги Ви погоджується з тим, що певна частина Вашої персональної інформації стає загальнодоступною.</p>
  <p>3.5. Сайт має право передати Вашу персональну інформацію третім особам у таких випадках:</p>
  <ul>
    <li>Ви дали згоду на такі дії;</li>
    <li>передання необхідних для використання Вами Послуг або для виконання ліцензійного договору з Вами;</li>
    <li>передання передбачене українським законодавством у межах встановленої законом процедури;</li>
    <li>у разі продажу Сайту до набувача переходять усі зобов’язання з дотримання умов цієї Політики щодо отриманої ним персональної інформації.</li>
  </ul>
  <p>3.6. Ви даєте згоду на передання таких Ваших персональних даних третім особам (взаємодіючими організаціями та фізичними особами) для організації проведення занять із теоретичної підготовки та практичного керування транспортним засобом:</p>
  <ul>
    <li><strong>ідентифікаційні та контактні дані</strong>, як-от: ім’я, прізвище, по батькові; адреса електронної пошти та номери телефонів; серії та номери документів, що засвідчують особу або їх замінюють;&nbsp;</li>
    <li><strong>ідентифікаційного номера</strong> облікової картки платника податків;</li>
    <li><strong>дані з медичної довідки</strong> (форма 083/о) щодо Вашої придатності керування транспортним засобом.</li>
  </ul>
  <p>У разі передання Ваших персональних даних ми попередимо третіх осіб, які одержать Ваші персональні дані, про те, що ці дані можуть бути використані лише для наперед визначеної мети, а також будемо вимагати від цих осіб підтвердження того, що це правило було (буде) дотримано. Ми включимо в договори з взаємодіючими організаціями та фізичними особами про передання Ваших персональних даних вимоги дотримання конфіденційності <a href="http://onlinecorrector.com.ua/%D0%B2%D0%BA%D0%BB%D1%8E%D1%87%D0%BD%D0%BE-%D0%B7">(</a>включно з зобов’язаннями нерозголошення) та забезпечення безпеки Ваших персональних даних під час їх обробки.</p>
  <p>3.7. Строки обробки та зберігання Ваших персональних даних визначаються відповідно до;</p>
  <ul>
    <li>строку дії договору (цивільно-правових відносин) з Вами;</li>
    <li>строків зберігання документів, що містять персональні дані (на паперових та електронних носіях), встановленими <a href="https://zakon.rada.gov.ua/laws/show/z0571-12#Text">Наказом</a> Міністерства юстиції України від 12.04.2012 №&thinsp;578/5 «Про затвердження Переліку типових документів, що створюються під час діяльності державних органів та органів місцевого самоврядування, інших установ, підприємств та організацій, із зазначенням строків зберігання документів»;</li>
    <li>строку позовної давності;</li>
    <li>інших вимог, що визначають строки обробки та зберігання персональних даних, встановленими актами законодавства та іншими нормативно-правовими актами;</li>
    <li>строку дії Вашої згоди.</li>
  </ul>
  <p>За загальним правилом, строк обробки Ваших персональних даних не обмежений.</p>
  <p>3.8. Підставами для припинення обробки Ваших персональних даних можуть бути:</p>
  <ul>
    <li>досягнення мети обробки Ваших персональних даних;</li>
    <li>закінчення строку дії Вашої згоди на обробку персональних даних;</li>
    <li>відкликання Вами згоди на обробку Ваших Персональних даних;</li>
    <li>виявлення неправомірної обробки Ваших персональних даних.</li>
  </ul>
  <p>3.9. Обробка Ваших персональних даних здійснюється будь-яким законним способом, зокрема, в інформаційних системах персональних даних із використанням засобів автоматизації або без використання таких засобів.</p>
  <p>3.10. У разі втрати або розголошення персональних даних Ми поінформуємо Вас про це.</p>
  <p>3.11. Ми вживаємо необхідних організаційних та технічних заходів для захисту Вашої персональної інформації від неправомірного або випадкового доступу, знищення, перекручення, блокування, копіювання, поширення, а також від інших неправомірних дій третіх осіб.</p>
  <p>3.12. Ми спільно з Вами вживаємо необхідних заходів щодо запобігання збиткам або іншим шкідливим наслідкам, які спричинені втратою або розголошенням Ваших персональних даних.</p>
  <p><strong>4. Зобов’язання сторін</strong></p>
  <p>4.1. Ви зобов’язані:</p>
  <ul>
    <li>надати інформацію про Ваші персональні дані, яка необхідна для користування Сайтом, забезпечувати на момент надання їх точність, достовірність та актуальність;</li>
    <li>оновлювати, доповнювати надану інформацію про персональні дані в разі зміни такої інформації.</li>
  </ul>
  <p>4.2. Ми зобов’язані:</p>
  <ul>
    <li>використовувати отриману інформацію<a href="http://onlinecorrector.com.ua/%D1%89%D0%BE%D0%B1-%D0%B4%D0%BB%D1%8F"> </a>для досягнення мети, яка зазначена в цій Політиці конфіденційності;</li>
    <li>забезпечити зберігання конфіденційної інформації в таємниці, не розголошувати без Вашої попередньої письмової згоди, а також не здійснювати продаж, обмін, опублікування або розголошення іншими можливими способами переданих Ваших персональних даних, крім винятків передбачених цією Політикою конфіденційності;</li>
    <li>вживати заходів обережності для захисту конфіденційності Ваших персональних даних згідно з порядком, який зазвичай використовується для захисту такого роду інформації в сучасному діловому обігу;</li>
    <li>здійснити блокування персональних даних щодо Вас із моменту звернення або Вашого запиту або Вашого законного представника або уповноваженого органу з захисту прав суб’єктів персональних даних на період перевірки в разі виявлення недостовірних персональних даних або неправомірних дій.</li>
  </ul>
  <p><strong>5. Відповідальність сторін</strong></p>
  <p>5.1. Якщо ми не виконали свої зобов’язання, ми несемо відповідальність за збитки, понесені Вами внаслідок неправомірного використання Ваших персональних даних, відповідно до законодавства України.</p>
  <p>5.2. У разі втрати або розголошення конфіденційної інформації Ми не несемо відповідальності, якщо така конфіденційна інформація:</p>
  <ul>
    <li>стала публічним надбанням до її втрати або розголошення;</li>
    <li>була отримана від третьої сторони до моменту її отримання нами;</li>
    <li>була розголошена за Вашою згодою.</li>
  </ul>
  <p><strong>6. Вирішення спорів</strong></p>
  <p>6.1. До звернення в суд із позовом у спорах, що виникають із відносин між Вами та нами, обов’язковим є пред’явлення претензії (письмової пропозиції про добровільне врегулювання спору).</p>
  <p>6.2. Одержувач претензії впродовж 10 (десяти) календарних днів із дня отримання претензії письмово повідомляє заявника претензії про результати розгляду претензії.</p>
  <p>6.3. У разі недосягнення згоди спір буде переданий на розгляд до суду відповідно до чинного законодавства України.</p>
  <p>6.4. До цієї Політики конфіденційності та відносин між Вами та нами застосовується чинне законодавство України.</p>
  <p><strong>7. Інші умови</strong></p>
  <p>7.1. Ми маємо право змінити Політику конфіденційності без Вашої згоди, змінивши цю сторінку. Деякі умови, що містяться в цій Політиці<a href="http://onlinecorrector.com.ua/%D0%B4%D0%BE%D0%B1%D1%80%D0%BE%D1%81%D0%BE%D0%B2%D1%96%D1%81%D0%BD%D0%B8%D0%B9"> </a>конфіденційності, також можуть бути замінені положеннями або повідомленнями, які публікуються в іншому місці на Сайті. Очікується, що Ви будете час від часу перевіряти цю сторінку, щоби помічати будь-які зміни, оскільки вони є обов’язковими для Вас.</p>
  <p>7.2. Нова Політика конфіденційності набирає чинності з моменту її розміщення на Сайті, якщо інше не передбачено новою редакцією Політики конфіденційності.</p>
  <p>7.3. Усі пропозиції або питання з цієї Політики конфіденційності повідомляйте на адресу: <a href="mailto:romdomdomofficial@gmail.com">romdomdomofficial@gmail.com</a>.&nbsp;</p>
  <p>7.4. Чинна Політика конфіденційності розміщена на сторінці за адресою: <a href="http://www.romdomdom.in.ua">www.romdomdom.in.ua</a>.&nbsp;</p>
  <p>7.5. Ця Політика конфіденційності є невід’ємною частиною <a routerLink="/ugoda">Правил користування</a>, розміщених на сторінці за адресою: <a href="http://www.romdomdom.in.ua">www.romdomdom.in.ua</a>.</p>
  <p>Редакція: квітень 2021 року</p>
</div>
<app-footer></app-footer>
