<footer class="footer">
  <div class="footer-top">
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-2 social">
        <a routerLink="/">
          <img alt="logo-img" class="brand-footer" src="assets/imgs/others/logo_footer.png">
        </a>
          <div class="social-link">
            <a href="https://www.facebook.com/messages/t/112310597191145">
            <img alt="fb-icon" src="assets/imgs/others/menu-fb.svg">
            </a>
            <a href="https://www.instagram.com/romdomdom.school/">
            <img alt="inst-icon" src="assets/imgs/others/menu-inst.svg">
            </a>
            <a href="https://www.youtube.com/channel/UCYkXECPSv2rkrgixCLFPA3g">
            <img alt="yt-icon" src="assets/imgs/others/menu-yt.png">
            </a>
          </div>
      </div>
      <div class="col-md-2 social-adapt">
        <ul class="rout-list">
          <li class="rout-li">
            <a routerLink="/about" class="rout-text">
              Про нас
            </a>
          </li>
          <li class="rout-li">
            <a routerLink="/education" class="rout-text">
            Навчання
            </a>
          </li>
          <li class="rout-li">
            <a routerLink="/partners" class="rout-text">
              Партнери
            </a>
          </li>
          <li class="rout-li">
            <a routerLink="/reviews" class="rout-text">
              Відгуки
            </a>
          </li>
          <li class="rout-li d-none">
            <a routerLink="/" class="rout-text">
              Вакансії
            </a>
          </li>
          <li class="rout-li">
            <a routerLink="/contacts" class="rout-text">
              Контакти
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 apps">
        <ul class="app-list">
          <li class="rout-li">
            <p>Завантажте мобільний додаток:</p>
          </li>
          <li class="rout-li">
              <div class="adaptive">
                <img alt="appstore-icon" (click)="downloadApp(true)" src="assets/imgs/others/appstore.svg">
              </div>
              <div (click)="downloadApp(false)" class="adaptive-google">
                <img alt="googlePlay-icon" src="assets/imgs/others/googleplay.svg">
              </div>
          </li>
        </ul>
      </div>
      <div class="col-md-3 contacts">
        <ul class="contact-list">
          <li class="contact-container">
            <img alt="phone-icon" class="icon" src="assets/imgs/others/phone.svg">
            <a href="tel:+380676788000" class="contact-text"  style="margin-left: 10px; color: #9A99A2">+38(067) 67-88-000</a>
          </li>
          <li class="contact-container">
            <img alt="mail-icno" class="icon" src="assets/imgs/others/mail.svg">
            <span class="contact-text" style="margin-left: 10px"><a style="color: #9A99A2" href="mailto:romdomdomofficial@gmail.com">romdomdomofficial@gmail.com</a></span>
          </li>
          <li>
            <div style="display: inline-block;">
            <img alt="location-icon" class="icon-location" src="assets/imgs/others/location.svg">
            </div>
            <div class="location">
            <span class="contact-text">Україна, 79066 м.Львів, вул.Сихівська, 20</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-1 cards">
        <img alt="visa-icon" class="visa" src="assets/imgs/others/visa.svg">
        <img alt="mastercard-icon" class="mastercard" src="assets/imgs/others/mastercard.svg">
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="link_side">
      <p class="copy"> © 2021 "Got IT Agency"</p> <a routerLink="/ugoda">Правила користування сайтом</a> <a routerLink="/conf">Політика конфіденційності</a> <a routerLink="/use">Політика сумлінного використання</a></div>
    <div class="social_side">
      <p class="social_txt">Служба підтримки:</p>
      <div class="medias">
        <a href="https://www.facebook.com/messages/t/112310597191145"><img src="assets/imgs/others/facebook.png" alt="fb" width="26" height="25"></a>
        <a href="https://t.me/romdomdomua"><img src="assets/imgs/others/telegram.png" alt="tel" width="25" height="25"></a>
        <a href="viber://chat?number=%2B380676788000"><img src="assets/imgs/others/viber.png" alt="viber" width="22" height="21"></a>
        <a href="viber://chat?number=%2B380676788000"><img src="assets/imgs/others/whatsapp.png" alt="whatsapp" width="22" height="21"></a>
      </div>
    </div>
  </div>
</footer>
