<app-header></app-header>
<app-menu></app-menu>

<div class="container">
  <div class="contacts-menu row">
    <div class="col-lg-6 contacts-text">
      <div class="text-container">
        <p class="header">Мамо,<br>про нас пишуть!</p>
        <div class="reviews-about">
          <p class="text-tiny">Щиро вдячні нашим друзям за приємні слова, підказки та слушні думки. Все врахуємо, щоб стати ще кращими.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <img alt="review-img" class="contacts-img" src="assets/imgs/reviews/review.png">
    </div>
  </div>

  <div class="row reviews">
    <div class="review">
      <div class="review-container">
        <div class="row row-cols-md-2 row-cols-2">
          <div class="col-md-3">
            <img alt="person-img" class="person" src="assets/imgs/reviews/person.png">
          </div>
          <div class="col-md-9 text-adaptive">
            <p class="review-header">Михайло Хома (DZIDZIO)</p>
            <p class="about-person">співак, актор, режисер, шоумен</p>
            <div class="review-adaptive">
              <p class="review-text">“Коли побачив цей додаток, приємно здивувався. Все просто, доступно і головне – все працює. Думаю, то дуже ефективна штука. Час – безцінна річ! Його потрібно берегти. Ваш додаток реально допомагає навчитись швидко та якісно. В час, коли все паперове стає цифровим, народження такого проекту є дуже доречним та своєчасним. Одним словом, молодці ROMDOMDOM! Шкода, що такого не було, коли вчився я”</p>
            </div>
          </div>
        </div>
        <div class="row review-adaptive-2">
          <div class="col-md-12">
            <p class="review-text">“Коли побачив цей додаток, приємно здивувався. Все просто, доступно і головне – все працює. Думаю, то дуже ефективна штука. Час – безцінна річ! Його потрібно берегти. Ваш додаток реально допомагає навчитись швидко та якісно. В час, коли все паперове стає цифровим, народження такого проекту є дуже доречним та своєчасним. Одним словом, молодці ROMDOMDOM! Шкода, що такого не було, коли вчився я”</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
