<div class="fade_"><nav class="tel-nvb navbar navbar-expand-sm">
  <div class="nav-img">
      <a routerLink="/" class="navbar-brand">
        <img alt="brand-img" class="tel-brand" src="assets/imgs/others/brand.svg">
      </a>
  </div>
  <div class="nvm-telephone">
    <a (click)="route()" class="nav-menu right">
      <img alt="icon" src="assets/imgs/others/x.svg">
    </a>
  </div>
</nav>

<div class="container menu-content">
  <ul class="rout-list">
    <li class="routs-li">
      <a routerLink="/education" class="link-nav routs">
        Навчання
      </a>
    </li>
    <li class="routs-li">
      <a routerLink="/about" class="link-nav routs">
        Про нас
      </a>
    </li>
    <li class="routs-li">
      <a routerLink="/partners" class="link-nav routs">
        Партнери
      </a>
    </li>
    <li class="routs-li">
      <a routerLink="/reviews" class="link-nav routs">
        Відгуки
      </a>
    </li>
    <li class="routs-li">
      <a routerLink="/contacts" class="link-nav routs">
        Контакти
      </a>
    </li>
    <li class="nav-item">
      <a href="https://romdomdom.in.ua/authorization" class="btn btn-outline-primary tel-log">
        Вхід
      </a>
    </li>
    <li class="nav-item">
      <a href="https://romdomdom.in.ua/authorization/registration" class="btn btn-primary tel-reg">
        Реєстрація
      </a>
    </li>
  </ul>
</div>

<app-telephone-footer></app-telephone-footer>
</div>
